/* write your styles here */
*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#app-root{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin-top: 20px;
}
.filter-picker{
    display: flex;
}
#para1{
    margin-top: 45px;
    margin-right: 20px;
}
#div5{
    display: flex;
    flex-direction: column;
}
.region{
    position: relative;
    left: 26px;
    top: 23px;
}
.language{
    position: relative;
    left: 26px;
    top: 10px;
}
#regionSearch{
    position: relative;
    right: 35px;
    top: 40px;
}
#languageSearch{
    position: relative;
    top: 27px;
    right: 35px;
}
.language-picker{
    display: flex;
}
#noItemPara{
    position: relative;
    left: 40px;
}
table,tr,td{
    border-collapse: collapse;
}
td:nth-child(1),td:nth-child(2),td:nth-child(3){
    text-align: center;
    width: 230px;
    height: 80px;
}
td:nth-child(4){
    text-align: center;
    width: 600px;
    height: 80px;
}
td:nth-child(5){
    text-align: center;
    width: 150px;
    height: 80px;

}
td:nth-child(6){
    text-align: center;
    width: 150px;
    height: 80px;
}
tr:nth-child(1){
    color: aqua;
    background-color: green;
    height: 50px;
}
tr:nth-child(even){
    background-color: rgba(128, 128, 128, 0.16);
}
tr{
    font-weight: bold;
}
#area,#name{
    color:blue;
  
}
tr:hover{
    background-color: rgba(255, 255, 0, 0.224);
}
