table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #009879;
  color: white;
  font-weight: bold;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #fff;
  transition: background-color 0.3s linear;
}

button:hover {
  color: #fff;
  background-color: #009879;
  padding: 12px 22px;
}

input {
  padding: 10px;
  border: 3px solid #1574ee;
  color: black;
  border-radius: 20px;
  font-size: 16px;
}

input:focus {
  background-color: #009879;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

.selected-row {
  background-color: rgb(13, 196, 49);
  font-weight: bold;
  text-transform: uppercase;
}

td a {
  text-decoration: none;
  cursor: pointer;
  color: #1574ee;
}

td a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #ff0000;
}

#lst {
  margin-top: 20px;
}

#lst label {
  margin-right: 10px;
}

#stat {
  margin-left: 20px;
}

#pie {
  margin-left: 180px;
}

#pie p {
  margin-left: 55px;
  color: blue;
  text-decoration: underline;
}

#bar p {
  margin-left: 60px;
  color: blue;
  text-decoration: underline;
}

tr {
  transition: box-shadow 300ms ease-in-out;
}

tr:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  transform: translateY(-10px);
}
