/* Font */
html {
    font-family: "Montserrat", sans-serif;
  }
  
  /* Footer */
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(20, 180, 100);
    box-shadow: 0 0 10px 0 rgba(29, 12, 1, 0.3);
    margin-top: 15px;
    padding: 10px 20px;
  }
  
  /* Signature */
  #sig {
    color: rgb(213, 31, 31);
    margin-right: 10px;
  }
  
  /* Copyright */
  #copy {
    color: rgb(221, 19, 19);
    margin-left: 10px;
  }
  
  /* Icon */
  #ico {
    position: relative;
    display: inline-block;
  }
  