header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(18, 207, 15, 0.1);
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left h1 {
  font-size: 24px;
  margin: 0;
  margin-left: 10px;
}

.header-centre {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.header-centre-content {
  text-align: center;
}

.header-centre p {
  margin: 0;
  margin-bottom: 10px;
}

.header-right {
  width: 25%;
}
.header-left {
  display: inline-block;
  text-align: left;
  margin-right: 20px;
}

.header-centre {
  display: inline-block;
  text-align: center;
}
