.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(186, 96, 96, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .popup-inner {
    background-color:transparent;
    padding: 20px;
    border-radius: 5px;
    color: yellowgreen;
  }
  
  .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: red;
    background-color: grey;
  }
  