.toggle-button {
  display: inline-block;
  width: 70px;
  height: 34px;
  position: relative;
  margin-top: 35px;
  margin-left: 20px;
}

.toggle-button input {
  display: none;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c7c7c7;
  transition: background-color 0.4s ease;
  border-radius: 34px;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 28px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: transform 0.4s ease;
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

input:checked + .toggle-slider {
  background-color: #4CAF50;
}

input:focus + .toggle-slider {
  box-shadow: 0 0 2px #2196F3;
}

input:checked + .toggle-slider:before {
  transform: translateX(36px);
}

.toggle-slider.round {
  border-radius: 34px;
}

.toggle-slider.round:before {
  border-radius: 50%;
}

#dem {
  margin-left: 10px;
  margin-top: 20px;
  display: flex;
}

#dem h2 {
  margin-top: 40px;
  color: rgb(145, 17, 17);
}
