#modifyItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}
#root{
    position: relative;
}
#alertMessage{
    display: none;
    position: absolute;
    padding: 2rem;
    background-color: rgb(189, 189, 189);
    color: aqua;
    font-size: large;
}
.listPage{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tweet{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:0.5rem;
}
.tweet div{
    margin-right:2rem;
}
#navigationButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#navigationButtons button{
    margin-right: 1rem;
    margin-left:1rem;
}
button{
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: rgb(119, 192, 255);
    color: aqua;
    margin:0.2rem;
    font-size: 1rem;
}
textarea{
    height:7rem;
    width: 15rem;
}
a{
    text-decoration: none;
    color: aqua;
}
#editor{
    cursor: pointer;
}
#likedTweets{
    display: none;
}
